<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
  <body>
    {% include 'assets/navbar.html' %}

    <style type="text/css">
        @media screen and (max-width: 500px){
            th, tr {
                font-size: 12px;
            }
        }
    </style>
    <div class="container">
    	<table class="table table-condensed" id="challengeTable">
            <thead>
                <tr>
                    <th>Badge</th>
                    <th>Challenge</th>
                    <th>Description</th>
                    <th>Points</th>
                    <th>Time left</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge in currentChalls %}
                <tr>
                    <td><img src={{challenge.badge.iconName}} alt=""></img></td>
                    <td>{{challenge.title}}</td>
                    <td>{{challenge.description}}</td>
                    <td>{{challenge.points}}</td>
                    <td>{{timeConversion(challenge.expiresat)}}</td>
                </tr>
                {% endfor %}
                {% for challenge in completeChalls %}
                <tr class="success">
                    <td><img src={{challenge.badge.iconName}} alt=""></img></td>
                    <td>{{challenge.title}}</td>
                    <td>{{challenge.description}}</td>
                    <td>{{challenge.points}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}
