<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
  <body>
    {% include 'assets/navbar.html' %}
    <div class="container">
    	<table class="table">
            <thread>
                <tr>
                    <th>Challenge</th>
                    <th>Description</th>
                    <th>Time left</th>
                </tr>
            </thead>
            <tbody>
                <tr class={{status1}}>
                    <td>{{title1}}</td>
                    <td>{{desc1}}</td>
                    <td>1 Day</td>
                </tr>
                <tr class={{status2}}>
                    <td>{{title2}}</td>
                    <td>{{desc2}}</td>
                    <td>2 Days</td>
                </tr>
                <tr class={{status3}}>
                    <td>{{title3}}</td>
                    <td>{{desc3}}
                        <p>Current streak: 4 days</p>
                    </td>
                    <td>5 Days</td>
                </tr>
                <tr class={{status4}}>
                    <td>{{title4}}</td>
                    <td>{{desc4}}</td>
                    <td>3 Days</td>
                </tr>
                <tr class={{status5}}>
                    <td>{{title5}}</td>
                    <td>{{desc5}}</td>
                    <td>4 Days</td>
                </tr>
                <tr class={{status6}}>
                    <td>{{title6}}</td>
                    <td>{{desc6}}</td>
                    <td>3 Days</td>
                </tr>
                <tr class={{status7}}>
                    <td>{{title7}}</td>
                    <td>{{desc7}}</td>
                    <td>3 Days</td>
                </tr>
                <tr class={{status8}}>
                    <td>{{title8}}</td>
                    <td>{{desc8}}</td>
                    <td>3 Days</td>
                </tr>
                <tr class={{status9}}>
                    <td>{{title9}}</td>
                    <td>{{desc9}}</td>
                    <td>3 Days</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}
