<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
<body>
    {% include 'assets/navbar.html' %}

     <style type="text/css">
        table {
            margin-left: 0px;
            white-space: nowrap;
        }

        tr {
           line-height: 35px;
           min-height: 35px;
           height: 35px;
           border: 1px solid #dddddd;
        }

        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
          border: 1px solid #dddddd;
          border-right-width:1px;
          border-left-width:1px;
        }
    </style>

    <div class="container">
        <p>Week: {{week}}</p>
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>09:00</th>
                    <td {{MONDAY9att}}>{{MONDAY9}}</td>
                    <td {{TUESDAY9att}}>{{TUESDAY9}}</td>
                    <td {{WEDNESDAY9att}}>{{WEDNESDAY9}}</td>
                    <td {{THURSDAY9att}}>{{THURSDAY9}}</td>
                    <td {{FRIDAY9att}}>{{FRIDAY9}}</td>
                </tr>
                <tr>
                    <th>10:00</th>
                    <td {{MONDAY10att}}>{{MONDAY10}}</td>
                    <td {{TUESDAY10att}}>{{TUESDAY10}}</td>
                    <td {{WEDNESDAY10att}}>{{WEDNESDAY10}}</td>
                    <td {{THURSDAY10att}}>{{THURSDAY10}}</td>
                    <td {{FRIDAY10att}}>{{FRIDAY10}}</td>
                </tr>
                <tr>
                    <th>11:00</th>
                    <td {{MONDAY11att}}>{{MONDAY11}}</td>
                    <td {{TUESDAY11att}}>{{TUESDAY11}}</td>
                    <td {{WEDNESDAY11att}}>{{WEDNESDAY11}}</td>
                    <td {{THURSDAY11att}}>{{THURSDAY11}}</td>
                    <td {{FRIDAY11att}}>{{FRIDAY11}}</td>
                </tr>
                <tr>
                    <th>12:00</th>
                    <td {{MONDAY12att}}>{{MONDAY12}}</td>
                    <td {{TUESDAY12att}}>{{TUESDAY12}}</td>
                    <td {{WEDNESDAY12att}}>{{WEDNESDAY12}}</td>
                    <td {{THURSDAY12att}}>{{THURSDAY12}}</td>
                    <td {{FRIDAY12att}}>{{FRIDAY12}}</td>
                </tr>
                <tr>
                    <th>13:00</th>
                    <td {{MONDAY13att}}>{{MONDAY13}}</td>
                    <td {{TUESDAY13att}}>{{TUESDAY13}}</td>
                    <td {{WEDNESDAY13att}}>{{WEDNESDAY13}}</td>
                    <td {{THURSDAY13att}}>{{THURSDAY13}}</td>
                    <td {{FRIDAY13att}}>{{FRIDAY13}}</td>
                </tr>
                <tr>
                    <th>14:00</th>
                    <td {{MONDAY14att}}>{{MONDAY14}}</td>
                    <td {{TUESDAY14att}}>{{TUESDAY14}}</td>
                    <td {{WEDNESDAY14att}}>{{WEDNESDAY14}}</td>
                    <td {{THURSDAY14att}}>{{THURSDAY14}}</td>
                    <td {{FRIDAY14att}}>{{FRIDAY14}}</td>
                </tr>
                <tr>
                    <th>15:00</th>
                    <td {{MONDAY15att}}>{{MONDAY15}}</td>
                    <td {{TUESDAY15att}}>{{TUESDAY15}}</td>
                    <td {{WEDNESDAY15att}}>{{WEDNESDAY15}}</td>
                    <td {{THURSDAY15att}}>{{THURSDAY15}}</td>
                    <td {{FRIDAY15att}}>{{FRIDAY15}}</td>
                </tr>
                <tr>
                    <th>16:00</th>
                    <td {{MONDAY16att}}>{{MONDAY16}}</td>
                    <td {{TUESDAY16att}}>{{TUESDAY16}}</td>
                    <td {{WEDNESDAY16att}}>{{WEDNESDAY16}}</td>
                    <td {{THURSDAY16att}}>{{THURSDAY16}}</td>
                    <td {{FRIDAY16att}}>{{FRIDAY16}}</td>
                </tr>
                <tr>
                    <th>17:00</th>
                    <td {{MONDAY17att}}>{{MONDAY17}}</td>
                    <td {{TUESDAY17att}}>{{TUESDAY17}}</td>
                    <td {{WEDNESDAY17att}}>{{WEDNESDAY17}}</td>
                    <td {{THURSDAY17att}}>{{THURSDAY17}}</td>
                    <td {{FRIDAY17att}}>{{FRIDAY17}}</td>
                </tr>
                <tr>
                    <th>18:00</th>
                    <td {{MONDAY18att}}>{{MONDAY18}}</td>
                    <td {{TUESDAY18att}}>{{TUESDAY18}}</td>
                    <td {{WEDNESDAY18att}}>{{WEDNESDAY18}}</td>
                    <td {{THURSDAY18att}}>{{THURSDAY18}}</td>
                    <td {{FRIDAY18att}}>{{FRIDAY18}}</td>
                </tr>
                <tr>
                    <th>19:00</th>
                    <td {{MONDAY19att}}>{{MONDAY19}}</td>
                    <td {{TUESDAY19att}}>{{TUESDAY19}}</td>
                    <td {{WEDNESDAY19att}}>{{WEDNESDAY19}}</td>
                    <td {{THURSDAY19att}}>{{THURSDAY19}}</td>
                    <td {{FRIDAY19att}}>{{FRIDAY19}}</td>
                </tr>
                <tr>
                    <th>20:00</th>
                    <td {{MONDAY20att}}>{{MONDAY20}}</td>
                    <td {{TUESDAY20att}}>{{TUESDAY20}}</td>
                    <td {{WEDNESDAY20att}}>{{WEDNESDAY20}}</td>
                    <td {{THURSDAY20att}}>{{THURSDAY20}}</td>
                    <td {{FRIDAY20att}}>{{FRIDAY20}}</td>
                </tr>
            </tbody>
        </table>
            <button class="btn btn-primary" role="button" type='submit' value='Back' id='back'></button>
            <button class="btn btn-primary" role="button" type='submit' value='Forward' id='forward'></button>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/weekSelect.js"></script>
  </body>
</html>
{% endautoescape %}
