<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
<body>
    {% include 'assets/navbar.html' %}

    <style type="text/css">
        .wrapper {
            width:100%;
            overflow: hidden;
        }

        #main {
            float:left;
        }

        #profile {
            float:left;
        }

        #badges {
            float:left;
        }
    </style> 

    <div class="wrapper">
        <div id="profile" class="container-fluid">
            <h4>{{username}}</h4>
            <p id='score'>Score: {{score}}</p>
            <p id='count'>Number of Check-Ins: {{count}}</p>
            <p id='streak'>Current Streak: {{streak}}</p>
        </div>

        <div id="badges" class="container-fluid">
            <h4>Badges:</h4>
            {% if completedChalls|length == 0 %}
            <p id="nobadge">Earn badges by completing challenges!</p>
            {% else %}
            {% for challenge in completedChalls %}
            <img src={{challenge.badge.iconName}} alt='' height="42" width="42">
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Challenge Complete!</h4>
          </div>
          <div class="modal-body">
            <p>Congratulations! You completed the following challenges:</p>
            <table class="table" id="modalTable">
                <thead>
                    <tr>
                        <th>Badge</th>
                        <th>Challenge</th>
                        <th>Description</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <div class="container" id="main">
    	<div class="container-fluid">
    		<h1>Lecture Logger</h1>
    		<h4>Welcome to lecture logger!</h4>
            <h4> Check in to lectures here!
                <button class="btn btn-primary" role="button" id="checkinbtn">Check In</button>
                <h4 id="msg"></h4>
            </h4>
    	</div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/geo.js"></script>

    <script src="/js/checkpos.js"></script>
</body>
</html>
{% endautoescape %}
