<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
<body>
    {% include 'assets/navbar.html' %}

    <style type="text/css">
        .wrapper {
            width:100%;
            overflow: hidden;
        }

        #main {
            float:left;
        }

        #profile {
            float:left;
        }

        #badges {
            float:right;
            margin-right: 15%;
        }

        @media screen and (max-width: 500px){
            th, tr {
                font-size: 9px;
            }

            #mobileFriendly {
                font-size: 9px;
            }

            #badges {
                margin-right: 0px;
             }
        }

        
    </style> 

    <div class="wrapper" align="center">
        <div id="profile" class="container-fluid" align="left">
            <h4>{{username}}</h4>
            <p id='score'>Score: {{score}}</p>
            <p id='count'>Number of Check-Ins: {{count}}</p>
            <p id='streak'>Current Streak: {{streak}}</p>
        </div>

        <div id="badges" class="container-fluid" align="right">
            <h4>Badges:</h4>
            {% if completedChalls|length == 0 %}
            <p id="nobadge">Earn badges by completing challenges!</p>
            {% else %}
            {% for challenge in completedChalls %}
            <img src={{challenge.badge.iconName}} alt='' height="42" width="42">
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-size: 14px;">Congratulations! You completed a challenge!</h4>
            <table class="table" id="modalTable">
                <thead>
                    <tr>
                        <th>Badge</th>
                        <th>Challenge</th>
                        <th>Description</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="helpModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body mobileFriendly">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Having problems checking in?</h4>
            <p>When checking in, your location is checked to ensure you are actually at the lecture. If you are having problems checking in, it probably because this location check is failing for some reason. Here are a few things you could try:</p>
            <p><strong>1) Wait a few minutes and try again</strong>
                <br>Some devices take a while to update your GPS position, so you may need to wait 1-2 minutes for your location to be updated to match the lecture hall</p>
            <p><strong>2) Ensure location services are enabled on your device and/or web browser</strong>
                <br>If your location services are disabled, your position can't be checked so you will not be able to check in. You can normally find where to enable this in your device's settings.</p>
            <p><strong>3) Ensure JavaScript is enabled on your web browser</strong>
                <br>JavaScript is used to check your position, so it must be enabled for check-ins to work. Most web browsers have this enabled by default, but you can check this in your web browsers settings.</p>
            <p stlye='margin-top:10px'>If you are still having problems after following these steps, please email at tp10g13@soton.ac.uk and I will try to help.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="container" id="main" align="center">
    	<div class="container-fluid">
    		<h1>Lecture Logger</h1>
    		<h4>Welcome to lecture logger!</h4>
            <h4> Check in to lectures here!
                <button class="btn btn-primary" role="button" id="checkinbtn">Check In</button>
                <h4 id="msg"></h4>
            </h4>
            <p style='margin-top:50px'>Having trouble checking in? Click 
                <button style='background:none!important; border:none; padding:0!important; font: inherit; color:blue; border-bottom:1px solid #00F; cursor: pointer;' data-toggle="modal" data-target="#helpModal">here</button>
                for help.</p>
    	</div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/geo.js"></script>

    <script src="/js/checkpos.js"></script>
</body>
</html>
{% endautoescape %}
