<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
<body>
    {% include 'assets/navbar.html' %}

    <div class="container">
    	<div class="jumotron">
    		<h1>Lecture Logger</h1>
    		<p>Welcome to lecture logger!</p>
            <p> Check in to lectures here!
                <button class="btn btn-primary" role="button" id="checkinbtn">Check In</button>
                <h4 id="msg"></h4>
            </p>
    	</div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/geo.js"></script>

    <script src="/js/checkpos.js"></script>
</body>
</html>
{% endautoescape %}
