<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
<body>
    {% include 'assets/navbar.html' %}

    <style type="text/css">
        textarea {
            background: 0;
            border: 0;
            width: 200px;
            height: 30px;
            overflow: visible;
            outline: 0;
            display: inline;
        }
    </style>

     <div class="container-fluid">
        <h3>Select your modules from the list</h3>
        <form method="post">
            <select id="moduleList">
            </select>
            <a class="btn btn-primary" role="button" id="addbtn">Add</a>
            <hr></hr>
            <h3>Selected Modules:</h3>     
            <textarea id="mod1" name='module1' readonly='readonly'>*FirstModule*</textarea>
            <button class="btn btn-primary" type='button' id="removebtn1">Remove</button>
            <p></p>
            <textarea id="mod2" name='module2' readonly='readonly'>*Second Module*</textarea>
            <button class="btn btn-primary" type="button" id="removebtn2">Remove</button>
            <p></p>
            <textarea id="mod3" name='module3' readonly='readonly'>*Third Module*</textarea>
            <button class="btn btn-primary" type="button" id="removebtn3">Remove</button>
            <p></p>
            <textarea id="mod4" name='module4' readonly='readonly'>*Fourth Module*</textarea> 
            <button class="btn btn-primary" type="button" id="removebtn4">Remove</button>
            <hr></hr>
            <input class="btn btn-primary" role="button" type='submit'></input>
        </form>
        
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src='/js/moduleSelect.js'></script>
  </body>
</html>
{% endautoescape %}
