<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
<body>
    {% include 'assets/navbar.html' %}

     <style type="text/css">
        textarea {
            background: 0;
            border: 0;
            width: 200px;
            height: 30px;
            overflow: visible;
            outline: 0;
            display: inline;
        }
    </style>

    <div class="container-fluid">
        <h2>Profile of: {{username}}</h2>
    </div>

     <div class="container-fluid">
        <form method="post">
            <h3>Your Badges</h3>
            {% if completedChalls|length == 0 %}
            <p>Earn badges by completing challenges!<p>
            {% else %}
            {% for challenge in completedChalls %}
            <img src={{challenge.badge.iconName}} alt="TEST" height="42" width="42">
            {% endfor %}
            {% endif %}
        </form>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src='/js/moduleSelect.js'></script>
  </body>
</html>
{% endautoescape %}
