<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
{%include 'assets/header.html' %}
<body>
    {% include 'assets/navbar.html' %}

     <style type="text/css">
        textarea {
            background: 0;
            border: 0;
            width: 200px;
            height: 30px;
            overflow: visible;
            outline: 0;
            display: inline;
        }
    </style>

    <div class="container-fluid">
        <h2>Profile of: {{username}}</h2>
    </div>

     <div class="container-fluid">
        <form method="post">
            <h3>Your Modules:</h3>     
            <textarea id="mod1" name='module1' readonly='readonly'>{{mod1}}</textarea>
            <button class="btn btn-primary" type='button' id="removebtn1">Remove</button>
            <p></p>
            <textarea id="mod2" name='module2' readonly='readonly'>{{mod2}}</textarea>
            <button class="btn btn-primary" type="button" id="removebtn2">Remove</button>
            <p></p>
            <textarea id="mod3" name='module3' readonly='readonly'>{{mod3}}</textarea>
            <button class="btn btn-primary" type="button" id="removebtn3">Remove</button>
            <p></p>
            <textarea id="mod4" name='module4' readonly='readonly'>{{mod4}}</textarea> 
            <button class="btn btn-primary" type="button" id="removebtn4">Remove</button>
            <h3>Re-select your modules from the list</h3>
            <select id="moduleList">
                {% for module in modules %}
                <option value={{module.code}}>{{module.code}}</option>
                {% endfor %}
            </select>
            <a class="btn btn-primary" role="button" id="addbtn">Add</a>
            <p></p>
            <input class="btn btn-primary" role="button" type='submit' value='Save'></input>
            <hr></hr>
            <h3>Your Badges</h3>
            {% if completedChalls|length == 0 %}
            <p>Earn badges by completing challenges!<p>
            {% else %}
            {% for challenge in completedChalls %}
            <img src={{challenge.badge.iconName}} alt="TEST" height="42" width="42">
            {% endfor %}
            {% endif %}
        </form>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src='/js/moduleSelect.js'></script>
  </body>
</html>
{% endautoescape %}
